@import 'common.scss';

.container {
  min-height: 200px;
  min-width: 300px;

  padding: 2rem;

  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;
}

#go-to-options {
  appearance: none;
  background-color: transparent;
  border: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 32px;
}