@import 'common.scss';

.container {
  min-height: 200px;
  min-width: 300px;

  padding: 2rem;

  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;
}

#go-to-options {
  color: white;
  appearance: none;
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 32px;
  font-size: 32px;
}
#status-section {
  text-align: center;
  border: 1px solid white;
  border-radius: 8px;
  padding: 8px;

  #status-icon {
    font-size: 32px;
  }
  #status-message {
    margin: 0;
    font-size: 18px;
  }
}
